In [54]:
import pandas as pd
import plotly.express as px
import numpy as np
import os


df = pd.read_csv('csv_exports/questers_data/op_questers_stats_22_01_18.csv')
df = df.reset_index()
print(df.columns)
# display(df)
df.head()

Index(['index', 'address', 'address_count', 'last_quest_time',
       'address_age_label', 'questing_label', 'churn_label', 'address_label',
       'recurring_label', 'num_txs_post_questing', 'num_txs_since_quests_off'],
      dtype='object')

,index,address,address_count,last_quest_time,address_age_label,questing_label,churn_label,address_label,recurring_label,num_txs_post_questing,num_txs_since_quests_off
0,0,0x0000049c20febcdbbe2521b9a5bc04def0bec0e1,1,2022-09-25T13:36:53Z,Active Address,Done Questing,Retained,Quest Potential Sybil,Monthly Recurring,1,0
1,1,0x0014cca569e67009a12bc6016b13640a00603e47,1,2022-12-23T01:42:49Z,New Address,Maybe Still Questing (< 30 Days),Retained,Likely Sybil,Weekly Recurring,4,0
2,2,0x0025943acd4421e5fccb8c523d91c863ca9bda08,1,2022-12-24T14:07:42Z,New Address,Maybe Still Questing (< 30 Days),Churned,Quest Potential Sybil,Monthly Recurring,3,0
3,3,0x002b9ed3bb38160e3a2e7c0dbc4ddba9d9653722,1,2022-11-25T10:41:08Z,Active Address,Done Questing,Retained,Potential Human,Weekly Recurring,8,0
4,4,0x00338d756dba4df1b013b75d30f772c36a992935,1,2022-12-26T02:30:11Z,Active Address,Maybe Still Questing (< 30 Days),Retained,Potential Human,Monthly Recurring,4,0

In [55]:
#De-Sybil
df_human = df[df['address_label'] == 'Potential Human']
print(len(df_human))
#News Only
df_noobs = df_human[df_human['address_age_label'] == 'New Address']
print(len(df_noobs))

274017
157758

In [56]:


tx_pivot_table = df_noobs.pivot_table(
        values='num_txs_since_quests_off', index='recurring_label',
        columns=['churn_label'], aggfunc={'num_txs_since_quests_off':'sum'}
        ,margins = True)
addr_pivot_table = df_noobs.pivot_table(
        values='num_txs_since_quests_off', index='recurring_label',
        columns=['churn_label'], aggfunc={'num_txs_since_quests_off':'count'}
        ,margins = True)
# pivot_table.reset_index()
# pivot_table['percent_of_total'] = pivot_table.apply(lambda x: x/x.sum()*100, axis = 1)
# pivot_table['percent_of_txs'] = pivot_table['num_txs_since_quests_off'] / pivot_table['num_txs_since_quests_off'].sum() * 100

In [57]:
display(addr_pivot_table)
print('----')
display(tx_pivot_table)

churn_label           Churned  Retained  Still Questing     All
recurring_label
Daily Recurring           NaN     450.0           477.0     927
Monthly Recurring     35630.0   31172.0             NaN   66802
New Address - Week 1      NaN       NaN         41067.0   41067
Other                  7013.0       NaN          2635.0    9648
Weekly Recurring       4252.0   23160.0         11902.0   39314
All                   46895.0   54782.0         56081.0  157758

----

churn_label           Churned  Retained  Still Questing    All
recurring_label
Daily Recurring           NaN    1095.0           540.0   1635
Monthly Recurring         0.0    1537.0             NaN   1537
New Address - Week 1      NaN       NaN         14563.0  14563
Other                     0.0       NaN             0.0      0
Weekly Recurring          0.0    6180.0          1577.0   7757
All                       0.0    8812.0         16680.0  25492